@font-face {
  font-family: "Bebas Neue Custom";
  src:
    url("../Font/BebasNeueLight.woff2") format("woff2"),
    url("../Font/BebasNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue Custom";
  src:
    url("../Font/BebasNeueBold.woff2") format("woff2"),
    url("../Font/BebasNeueBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Custom";
  src:
    url("../Font/Roboto-Light.woff2") format("woff2"),
    url("../Font/Roboto-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Custom";
  src:
    url("../Font/Roboto-Regular.woff2") format("woff2"),
    url("../Font/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 40px;
  background-color: rgb(72, 56, 56);
}

.menu-suspenso {
  position: fixed; /* Menu fixo */
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.botao {
  background-color: rgb(240, 248, 164);
  color: rgb(72, 56, 56);
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

.botao:hover {
  background-color: rgb(117, 176, 111);
  color: rgb(240, 248, 164);
  transform: scale(1.05);
}

.conteudo {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(240, 248, 164);
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  border-radius: 10px;
  overflow: hidden;
}

.conteudo a {
  color: rgb(72, 56, 56);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Roboto Custom", sans-serif;
  font-size: 12px;
  transition: background-color 0.3s;
}

.conteudo a:hover {
  background-color: rgb(117, 176, 111);
  color: rgb(240, 248, 164);
}

.menu-suspenso:hover .conteudo {
  display: block;
}

.painel {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "topo"
    "lateral-esq"
    "lateral-esq-baixo"
    "colunas"
    "rodape";
  font-family: "Roboto Custom";
  justify-items: center;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.painel img {
  max-width: 650px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  border: 8px solid rgb(240, 248, 164);
  object-fit: cover; /*todas imagens com mesmo comportamento*/
}

.topo {
  grid-area: topo;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.topo h4 {
  font-family: "Bebas Neue Custom", sans-serif;
  font-weight: 300;
  font-size: 60px;
  color: rgb(240, 248, 164);
}

.topo p {
  font-family: "Roboto Custom", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid rgb(240, 248, 164);
  border-bottom: 1px solid rgb(240, 248, 164);
  color: rgb(240, 248, 164);
}

.lateral-esq {
  grid-area: lateral-esq;
}

.lateral-esq-baixo {
  text-align: center;
  padding-left: 30px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 10px;
  font-style: italic;
  color: rgb(117, 176, 111);
}

.fornecedora {
  background-color: rgba(240, 248, 164, 0.1);
  padding: 30px;
  border-radius: 20px;
}

.colunas {
  grid-area: colunas;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 650px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "Roboto Custom", sans-serif;
  font-weight: 100;
  text-indent: 20px;
  text-align: justify;
  line-height: 1.2;
  color: rgb(240, 248, 164);
  hyphens: auto;
}

.rodape {
  grid-area: rodape;
  color: rgb(72, 56, 56);
  display: block;
  text-align: center;
  background-color: rgb(117, 176, 111);
  color: rgb(72, 56, 56);
  width: 100%;
  padding: 10px;
  border-bottom: 6px solid rgb(54, 101, 107);
}

/* Media Query para Mobile */
@media (min-width: 400px) and (max-width: 1200px) {
  .menu-suspenso {
    top: 10px;
    right: 10px;
  }

  .topo {
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }

  .topo h4 {
    font-family: "Bebas Neue Custom", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: rgb(240, 248, 164);
    text-align: center;
  }

  .topo p {
    font-family: "Roboto Custom", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-top: 1pt solid rgb(240, 248, 164);
    border-bottom: 1pt solid rgb(240, 248, 164);
    color: rgb(240, 248, 164);
  }

  .lateral-esq {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .painel img {
    width: 90%;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .colunas {
    max-width: 450px;
    margin: 20px;
    padding: 0;
    font-size: 12px;
  }

  .lateral-esq-baixo {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }

  .botao {
    background-color: rgb(240, 248, 164);
    color: rgb(72, 56, 56);
    padding: 8px 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
  }

  .conteudo a {
    color: rgb(72, 56, 56);
    font-size: 11px;
    padding: 10px 14px;
  }

  .conteudo a:hover {
    background-color: rgb(117, 176, 111);
    color: rgb(240, 248, 164);
  }

  .painel {
    grid-template-columns: 1fr;
    grid-template-areas:
      "topo"
      "lateral-esq"
      "lateral-esq-baixo"
      "colunas"
      "rodape";
    width: 100%;
    margin: 0 auto;
    justify-items: center;
  }

  .fornecedora {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1201px) {
  .painel {
    max-width: 90%;
    padding: 40px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    gap: 40px;
  }

  .painel img {
    display: block;
    max-width: 80%; /* Imagem ocupa 80% do painel */
  }

  .colunas {
    max-width: 80%; /* Texto ocupa 80% do painel */
    font-size: 20px;
    margin: 40px auto;
  }

  .lateral-esq-baixo {
    font-size: 18px;
    max-width: 80%;
    margin: 0 auto;
  }

  .colunas p {
    font-size: 30px;
  }

  .rodape {
    width: 100%;
    text-align: center;
    font-size: 22px;
  }
}
