@font-face {
  font-family: "Bebas Neue Custom";
  src:
    url("../Font/BebasNeueLight.woff2") format("woff2"),
    url("../Font/BebasNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue Custom";
  src: url(../Font/BebasNeueBold.woff2") format("woff2"),
    url("../Font/BebasNeueBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Custom";
  src:
    url("../Font/Roboto-Light.woff2") format("woff2"),
    url("../Font/Roboto-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Custom";
  src:
    url("../Font/Roboto-Regular.woff2") format("woff2"),
    url("../Font/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  padding-top: 90px;
  background-color: rgb(66, 133, 91);
  padding-bottom: 50px;
  border-bottom: 10px solid rgb(54, 101, 107);
}

a {
  text-decoration: none;
  color: rgb(72, 56, 56);
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.1);
}

.fixo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 15px 20px;
  background-color: rgb(240, 248, 164);
  border-bottom: 8px solid rgb(54, 101, 107);
  font-family: "Bebas Neue Custom", "Bebas Neue", sans-serif;
  font-size: 22pt;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.bloco1-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "texto logo"
    "botoes botoes";
  background-color: rgb(66, 133, 91);
  padding: 20px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.bloco1-texto {
  grid-area: texto;
  color: rgb(240, 248, 164);
  margin-top: 30px;
  margin-left: 100px;
}

.bloco1-texto h4 {
  font-family: "Bebas Neue Custom";
  font-size: 60px;
  line-height: 0.95;
  font-weight: 300;
}

.bloco1-texto p {
  font-family: "Roboto Custom";
  font-size: 25px;
  line-height: 1.2;
}

.bloco1-logo {
  grid-area: logo;
}

.bloco1-botoes {
  grid-area: botoes;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.bloco1-botoes .a,
.bloco1-botoes .b {
  font-family: "Bebas Neue Custom", sans-serif;
  font-size: 25pt;
  padding: 15pt 12pt;
  border-radius: 15pt;
  width: 150pt;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.bloco1-botoes .a {
  background-color: rgb(240, 248, 164);
  color: rgb(66, 133, 91);
  border: 4pt solid rgb(66, 133, 91);
}

.bloco1-botoes .b {
  background-color: rgb(66, 133, 91);
  border: 4px solid rgb(240, 248, 164);
  color: rgb(240, 248, 164);
}

/* Quando passa o mouse por cima do botao, ele fica roxo e aumenta o tamanho */
.bloco1-botoes .a:hover,
.bloco1-botoes .b:hover {
  transform: scale(1.05);
  background-color: rgb(72, 56, 56);
  color: rgb(240, 248, 164);
}

/* Para acessibilidade: quando clica o botao, fica uma borda no botao selecionado*/
.bloco1-botoes button:focus {
  outline: 4px solid rgb(72, 56, 56);
}

.bloco2 {
  background-color: rgb(240, 248, 164);
  min-height: 100vh;
  padding: 40px 20px;
}

.bloco2-a {
  font-family: "Bebas Neue Custom";
  color: rgb(72, 56, 56);
  text-align: center;
  line-height: 0.9;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  position: sticky;
  top: 90px; /* Ajuste para o menu fixed - mesmo valor do padding top */
  z-index: 999; /*Abaixo do menu z-index 1000) */
  background-color: rgb(240, 248, 164); /* fundo pra nao ficar transparente */
}

.bloco2-a h4 strong {
  font-weight: 400;
  font-size: 35pt;
}

.bloco2-a h4 {
  font-family: "Bebas Neue Custom";
  font-weight: 300;
  font-size: 35pt;
  border-top: 2px solid rgb(66, 133, 91);
  border-bottom: 2px solid rgb(66, 133, 91);
  padding: 15px;
  max-width: 40%;
  margin: 0 auto;
}

.bloco2-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.bloco2-b,
.bloco2-c,
.bloco2-d {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.bloco2-b img,
.bloco2-c img,
.bloco2-d img {
  width: 80px;
  margin: 0 auto 20px auto;
}

.bloco2-b h4,
.bloco2-c h4,
.bloco2-d h4 {
  font-family: "Bebas Neue Custom";
  font-size: 28pt;
  color: rgb(72, 56, 56);
  line-height: 0.85;
  padding: 10px 0;
  margin: 0;
}

.bloco2-b p,
.bloco2-c p,
.bloco2-d p {
  font-family: "Roboto Custom";
  font-size: 11pt;
  color: rgb(66, 133, 91);
  padding: 10px 0 0 0;
  margin: 0;
  line-height: 1.4;
}

.bloco3 {
  font-family: "Bebas Neue Custom", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  gap: 40pt;
  padding: 25pt;
  background-color: rgb(66, 133, 91);
  color: rgb(240, 248, 164);
  width: 100%;
  margin: 0 auto;
}

.bloco3-a {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  position: sticky;
  top: 90px;
  z-index: 999;
  background-color: rgb(66, 133, 91);
}

.bloco3 h4 {
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 50pt;
  text-align: center;
  word-wrap: break-word;
  line-height: 0.9;
  border-top: 2px solid rgb(240, 248, 164);
  border-bottom: 2px solid rgb(240, 248, 164);
  padding: 15px;
  max-width: 50%;
  margin: 0 auto;
}

.bloco3 h4 strong {
  font-weight: 700;
}

.bloco3 p strong {
  font-weight: 600;
}

.bloco3 p {
  font-family: "Roboto Custom", sans-serif;
  font-style: italic;
  font-size: 13pt;
  background-color: rgb(79, 156, 107);
  color: rgb(240, 248, 164);
  position: relative;
  border-radius: 10px;
  z-index: 1;
  padding: 40px 60px;
}

.bloco3 .estrelas {
  font-style: normal;
  color: yellow;
  font-size: 30pt;
  letter-spacing: 5px;
  display: inline-block;
  margin-bottom: 15px;
}

@media (min-width: 480px) and (max-width: 1023px) {
  .fixo {
    font-size: 22pt;
  }

  .bloco1-texto h4 {
    font-size: 42pt;
  }

  .bloco1-texto p {
    font-size: 20px;
  }

  .bloco1-botoes .a,
  .bloco1-botoes .b {
    font-size: 20pt;
    padding: 15px 12px;
  }

  .bloco1-logo img {
    width: 370px;
  }

  .bloco2 {
    padding: 20px 10px;
  }

  .bloco2-a h4 strong {
    font-size: 60pt;
  }

  .bloco2-a h4 {
    font-size: 60pt;
    max-width: 50%;
    padding: 20px;
  }

  .bloco2-b img,
  .bloco2-c img,
  .bloco2-d img {
    width: 150px;
  }

  .bloco2-b h4,
  .bloco2-c h4,
  .bloco2-d h4 {
    font-size: 40pt;
  }

  .bloco2-b p,
  .bloco2-c p,
  .bloco2-d p {
    font-size: 20pt;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    padding-top: 50px;
  }

  .fixo {
    font-size: 30pt;
    padding: 15px 60px;
    gap: 120px;
  }

  .bloco1-container {
    gap: 40px;
    padding: 60px;
    max-width: 1400px;
  }

  .bloco1-texto {
    margin-left: 180px;
  }

  .bloco1-texto h4 {
    font-size: 75pt;
  }

  .bloco1-texto p {
    font-size: 30pt;
    max-width: 100%;
  }

  .bloco1-logo img {
    width: 650px;
    margin-top: 20px;
    margin-right: 100px;
  }

  .bloco1-botoes {
    gap: 80px;
    width: 100%;
  }

  .bloco1-botoes .a,
  .bloco1-botoes .b {
    font-size: 35pt;
    padding: 20px 30px;
    width: 280pt;
  }

  .bloco2 {
    padding: 60px 20px;
  }

  .bloco2-a h4 strong {
    font-size: 70pt;
  }

  .bloco2-a h4 {
    font-size: 70pt;
    padding: 30px;
  }

  .bloco2-cards {
    gap: 40px;
    padding: 40px;
  }

  .bloco2-b img,
  .bloco2-c img,
  .bloco2-d img {
    width: 120px;
  }

  .bloco2-b h4,
  .bloco2-c h4,
  .bloco2-d h4 {
    font-size: 50pt;
  }

  .bloco2-b p,
  .bloco2-c p,
  .bloco2-d p {
    font-size: 24pt;
  }

  .bloco3 {
    height: auto;
    padding: 25pt;
    width: 50%;
  }
}
